{% extends "chat/base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome <strong style="color: var(--cardinal)">{{ user.first_name }}</strong> to <strong>P</strong>oly<strong>B</strong>ot<strong>C</strong>onversation!</h1>
    
    <p>PolyBotConversation is an experimental web application that allows you to have group chat conversations with humans and multiple LLM-powered chatbots with individualized "personalities."</p>
    <p>Create a new chat and start exploring!</p>
    <p>
        <a href="{% url 'chat:chat_new' %}" style="margin: 15px;" class="btn btn-primary">New Chat</a>
    </p>

    <div class="alert alert-danger" role="alert">
        PolyBotConversation is <strong>purely experimental software and not designed for production</strong>. Most importantly, there are severe security and privacy implications. For example, conversations are not protected, and all users can see all conversations. Furthermore, due to the fact that "core memories" are, by default, generated for all conversations and bots, information will be retained after the deletion of chats.
    </div>
</div>
{% endblock content %}