<div class="sidebar d-flex flex-column">
    <p class="text-center sidebar-header"><strong>P</strong>oly<strong>B</strong>ot<strong>C</strong>onversation</p>
    <span class="text-center version">{{ version }}</span>

    {% if user.is_authenticated %}
    <div id="sidebar-conversations"
         hx-get="{% url 'chat:load_sidebar_conversations' %}"
         hx-trigger="load, every 60s"
         hx-swap="innerHTML">
        {% include "chat/partials/sidebar_conversations.html" %}
    </div>

    <hr>
    
    <ul class="nav flex-column">
        <li class="nav-item mt-auto">
            <a class="text-center nav-link" href="{% url 'chat:user' %}">🔧 {{ user.first_name }} {{ user.last_name }}</a>
        </li>
    </ul>

    <div class="nav flex-colum justify-content-center">
        <form class="nav-item" action="{% url 'chat:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-secondary" style="width:200px; margin: 15px;" type="submit">Log Out</button>
        </form>
    </div>
    {% endif %}
</div>